<IfModule mod_security2.c>
    # https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#Configuration_Directives
    ServerTokens OS
    SecRequestBodyAccess on
    TraceEnable Off

    SecServerSignature "{{ sec_server_signature }}"
    SecRuleRemoveById  "{{ sec_rule_remove_by_id }}"
</IfModule>
